.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 180px;
    margin-top: 50px;
}

.leaderboard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.leaderboard {
    width: fit-content;
    padding-inline: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.table {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: -20px;
    font-size: 12px;
    max-height: 30px;
}

.user-image {
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.featured-author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.verification {
    width: 10px;
}