section {
    margin-bottom: 50px;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 1050px;
    transition: transform 500ms ease, background 500ms ease;
    padding-bottom: 30px;
}

.featured-post:hover {
    transform: scale(0.98);
}

.featured-image {
    width: 1050px;
}

.featured-description {
    margin-top: 10px;
    padding-inline: 30px;
    width: 1000px;
}

.user-image {
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.featured-author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.verification {
    width: 10px;
}

.like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.likes-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.post-description .likes-comments {
    gap: 10px;
    font-size: 11px;
}

.post-description .interaction-image {
    width: 15px;
}

.interaction-image {
    width: 20px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-between;
}

.post-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: -20px;
    font-size: 12px;
}

.featured-heading-date {
    color: rgb(238, 108, 77);
}

.featured-tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: -10px;
}

.tag {
    font-size: 12px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#dm {
    background-color: rgb(165, 200, 228);
}

#level4 {
    background-color: rgb(244, 205, 166);
}

#interaction {
    background-color: rgb(246, 168, 166);
}

#revision {
    background-color: rgb(192, 236, 204);
}

.comments-section {
    margin-top: 20px;
    padding-inline: 30px;
}

.comment {
    margin-left: 40px;
    margin-top: 40px;
    width: fit-content;
    padding-inline: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.comment-text {
    font-size: 12px;
    margin-left: 30px;
    margin-top: 5px;
}

.reply {
    font-size: 12px;
    margin-top: -7px;
    margin-left: 200px;
}

.reply:hover {
    cursor: pointer;
}